/* Style the containers for each section */
.section-container {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background-color: rgba(84,105,203,0.64);
    border-radius: 10px;
}
.topSection{
    text-align: center;
}

#fixIssuesButton{
    margin-top: 20px;
    background-color: #D11F3C;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: auto;
    border-radius: 9px;
}
#headerMessage{
    text-align: center;
    font-size: 64px;
    margin-bottom: 60px;
}
#pollingResultsMessage{

    text-align: center;
}
