


    /* Center the login screen */
body{
    text-align: center;
}


#headerMessage{
    vertical-align: top;

}

/* Style the form */
    form {
        display: inline-block;
        text-align: left;
        back
    }

/* Style the form inputs */
label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #0c0c0c;
    margin-bottom: 10px;
    background: rgba(123,165,155,0.64);
    width: 100%;
    max-width: 300px;
}

/* Style the form submit button */
input[type="submit"] {
    background-color: #5469cb;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the create account button */

    #createAccountButton{
        background-color: #5469cb;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

