
form{
    display: inline-block;
    text-align: center;
}

/*Candidate button styles */
input[type ='submit']{
    background-color: #5469cb;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;

}